body {
  background: #444444;
  color: #333333;
}

.blockquote-footer {
  display: block;
  font-size: 60%;
  color: #d3dee7;
}

.circle_images {
  height: 70px;
  width: 70px;
}

.circle_vote{
    height: 40px;
    width: 40px;
}

.article-metadata {
  max-width: 750px;
  background-color: #686868;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.article-metadata .content {
    max-width: 610px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.article-metadata a {
  color: #333;
  text-decoration: none;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-metadata-post {
  max-width: 750px;
  background-color: #686868;
  width: 100%;
  text-align: center;
  border-bottom: 30px solid #444444;
}

.authorbox {
  background: #292727;
}

.header_page {
  color: antiquewhite;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.circle_img_detail {
  height: 45px;
  width: 45px;
  margin-bottom: 4px;
}

.box_title {
  color: whitesmoke;
  margin-top: 6px;
  margin-bottom: 10px;
}

.box_title h2 {
  font-weight: 715;
}

.likes_section {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}

.authorbox h1 {
  color: #ffffff;
  text-align: left;
  margin-left: 6px;
}

.comment_section {
  color: #ffffff;
  background-color: #292727;
}

.form-group2 {
  margin-bottom: 1rem;
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
  max-width: 500px;
  width: 100%;
  margin: 45px auto 40px;

}

.form-group input{
  text-align: center;
  width: 100%;
}

.pagination {
  width: 100%;
  background-color: #444444;
  padding-top: 30px;
}

.pagination .btn {
  font-weight: 700;
  float: left;
  background-color: #f9fd00;
  width: 100%;
  max-width: 80%;
  line-height: 30px;
}

.pagination .btn.btn-last {
  max-width: 20%;
  width: 100%;
  margin-left: 20px;
}

.pagination a:hover {
  background-color: #fdc200;
  color: #000000;
  width: 100%;
}

.pages {
  background-color: #444444;
  float: left;
  width: 100%;
  color: #000000;
  padding-top: 30px;
  height: 100%;
}

.pages a {
  padding-top: 0px;
  width: 10%;
  color: #000000;
  font-size: 25px;
  transition: color 0.3s, font-size 0.3s;
  text-align: center;
  line-height: 25px;

  
}

.pages a:hover {
  color: #f9fd00;
  font-weight: 1000;
  font-size: 50px;
  padding-top: 0px;
 
}

