body {
  background: #fafafa;
  color: #333333;
}

.circle_images {
  height: 70px;
  width: 70px;
}

.circle_vote{
    height: 40px;
    width: 40px;
}

.article-metadata a {
  color: #333;
  text-decoration: none;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}