{% extends 'my_site/base.html' %}
{% load humanize %}

{% block content %}

<div class="article-metadata">
    <div class="authorbox">
        <h1><img src="{{ my_object.user.mysiteprofile.image.url }}" class="rounded-circle circle_img_detail">
            <a href="{% url 'mySiteProfile_page' my_object.user.username %}">{{ my_object.user.username }}</a></h1>
    </div>
    <div class="box_title">
        <h2> {{ my_object.title }}</h2>
        <img src=" {{ my_object.image.url }}" class="rounded">
    </div>
    
    {% if user.is_authenticated %}
    <div class="likes_section">
        <h3 style="color: green;">{{ my_object.thumb_up.count }}
            <span style="color:rgb(0, 0, 0);">/</span>
            <span style="color:red;">{{ my_object.thumb_down.count }}</span>
        </h3>
        {% if thumbed_up == False and thumbed_down == False %}
        <a href="{% url 'like_up' my_object.id %}"><img class="rounded circle_vote" src="/media/plus.png"></a>
        <a href="{% url 'like_down' my_object.id %}"><img class="rounded circle_vote" src="/media/minus.png"></a>
        {% elif thumbed_up == True and thumbed_down == False %}
        <img class="rounded circle_vote" src="/media/plus_clicked.png"></a>
        <img class="rounded circle_vote" src="/media/minus.png"></a>
        {% elif thumbed_up == False and thumbed_down == True %}
        <img class="rounded circle_vote" src="/media/plus.png"></a>
        <img class="rounded circle_vote" src="/media/minus_clicked.png"></a>
        {% endif %}
        {% if user == my_object.user %}
        </br>
        <small>
            <span class="badge badge-light" style="float: right;">
                <a href="{% url 'memeDeleteView' my_object.id %}">Delete post</a>
            </span>
        </small>
        {% endif %}
    </div>
    {% endif %}
</div>

{% if user.is_authenticated %}
<div class="article-metadata">
    <form method="POST">
        {% csrf_token %}
        <!-- hidden tag - security what Django required-->
        <legend class="border-top">Leave comment!</legend>
        {{ comment_form.content }}
        <div clas="form-group">
            <button class="btn btn-info" type="submit">Submit</button>
        </div>
    </form>
    <br><br>
</div>
{% endif %}

<div class="comment_section">
    {% if my_comments.count == 0 %}
    <h6>{{ my_comments.count }} comments</h6>
    {% elif my_comments.count < 2 %}
    <h6>{{ my_comments.count }} comment:</h6>
    {% else %}
    <h6>{{ my_comments.count }} comments:</h6>
    {% endif %}
    <h6>{% for comment in my_comments %}
        
    <div class="blockquote">
        <div style="font-size: small">
            <h3 class="mb-0"> {{ comment.content }} </h3>
            <small>
                <p class="mb-0"> {{ comment.timestamp|naturaltime }} </p>
            </small>
        </div>
        <footer class="blockquote-footer">By <cite
                title="Source Title"><a href="{% url 'mySiteProfile_page' comment.user %}" style="color: #ffffff;">{{comment.user|capfirst}}</a></cite></footer>
    </div>
    
    {% endfor %}
</div>







{% endblock content%}

<!-- 
    Just to remember 
<div>
    <p2> {{ my_object.user }}</p2>
    <p2> {{ my_object.id}}</p2>
    <p2> {{ my_object.slug }} </p2>
</div>

 -->